        <key>ACPI</key>
        <dict>
                <key>DSDT</key>
                <dict>
                        <key>Patches</key>
                        <array>
                                <dict>
                                        <key>Comment</key>
                                        <string>rename _RMV to XRMV</string>
                                        <key>Disabled</key>
                                        <false/>
                                        <key>Find</key>
                                        <data>
                                        X1JNVg==
                                        </data>
                                        <key>Replace</key>
                                        <data>
                                        WFJNVg==
                                        </data>
                                </dict>
                                <dict>
                                        <key>Comment</key>
                                        <string>Fix _E42 recursion issue for USB-C hotplug</string>
                                        <key>Disabled</key>
                                        <false/>
                                        <key>Find</key>
                                        <data>
                                        RFBURgFfRTQy
                                        </data>
                                        <key>Replace</key>
                                        <data>
                                        RFBURgFYRTQy
                                        </data>
                                </dict>
                        </array>
                </dict>
                <key>DropTables</key>
                <array>
                        <dict>
                                <key>Signature</key>
                                <string>SSDT</string>
                                <key>TableId</key>
                                <string>xh_rvp10</string>
                        </dict>
                </array>
                <key>SortedOrder</key>
                <array>
                        <string>SSDT-TB.aml</string>
                </array>
        </dict>
