        <key>ACPI</key>
        <dict>
                <key>SortedOrder</key>
                <array>
                        <string>SSDT-PR.aml</string>
                </array>
        </dict>
        <key>KernelAndKextPatches</key>
        <dict>
                <key>DellSMBIOSPatch</key>
                <true/>
                <key>KernelToPatch</key>
                <array>
                        <dict>
                                <key>Comment</key>
                                <string>XCPM_idle Replace All fix by Pike R. Alpha</string>
                                <key>Disabled</key>
                                <false/>
                                <key>Find</key>
                                <data>
                                ILniAAAADzA=
                                </data>
                                <key>MatchOS</key>
                                <string>10.12</string>
                                <key>Replace</key>
                                <data>
                                ILniAAAAkJA=
                                </data>
                        </dict>
                </array>
        </dict>
